.featured-container {
    text-align: center;
    padding: 4rem 8%;
    background-color: var(--background-color);
    color: var(--primary-color);
    font-weight: 700;
}

.section-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

.section-title span {
    color: var(--primary-color);
}

.section-subtitle {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    opacity: 0.9;
}

.destinations-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.destination-card {
    background: rgba(240, 221, 221, 0.685);
    padding: 1.5rem;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease, background 0.3s ease;
    position: relative;
    overflow: hidden;
}

.image-container {
    position: relative;
    width: 100%;
    height: 250px;
}

.main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: opacity 0.3s ease-in-out;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(168, 163, 163, 0.76);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    padding: 1rem;
}

.overlay p {
    color: var(--off-white);
    font-size: 1rem;
}

.destination-description {
    margin-bottom: 0.5rem;
}

.destination-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--primary-color);
}

.image-container:hover .main-image {
    opacity: 0;
}

.image-container:hover .overlay {
    opacity: 1;
}

.destination-card h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.destination-card:hover {
    transform: scale(1.05);
    
}
