.footer-section {
    background-color: var(--primary-color);
    padding: 5rem 13% !important;
}

.footer-top {
    display: flex;
    width: 100%;
    padding: 1.9rem 0;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.2px solid rgba(255, 255, 255, 0.1);
}

.footer-logo a {
    font-size: 1.9rem;
    color: var(--background-color);
    font-weight: 800;
}

.social-icons {
    display: flex;
    gap: 0.9rem;
    align-items: center;
}

.social-icons {
    height: 2.4rem;
    width: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--background-color);
    font-size: 1.5rem;
    cursor: pointer;
}

.footer-btm {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    padding-bottom: 1.9rem;
}

.footer-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}
.footer {
    color: var(--accent-color);
    margin-top: 2rem;
}

.footer-links ul {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;

}

.nav-footer {
    margin-top: 5rem;
}

.footer-links ul li a {
    color: var(--background-color);
    transition: .6s;
}

.footer-links ul li:hover a {
    color: var(--accent-color);
}

.newsletter p {
    color: var(--background-color);
    line-height: 1.5;
}

.input {
    height: 2.1rem;
    width: 100%;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-top: 1.2rem;
}

.input input {
    width: 80%;
    height: 100%;
    padding: 0.6rem;
    border: none;
    outline: none;
    font-family: var(--font-family);
}

::placeholder {
    color: var(--primary-color);
    font-weight: 700;
}

.input button {
    color: var(--accent-color);
    background-color: var(--medium-color);
    border: none;
    padding: 0.6rem;
    font-family: var(--font-family);
    font-weight: 700;
    cursor: pointer;
}

.input button:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);

}

@media screen and (max-width:900px) {
    .footer-btm {
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width:500px) {
    .footer-btm {
        grid-template-columns: repeat(1,1fr);
    }

    .footer-links {
        align-items: center;
        text-align: center;
    }

    .newsletter {
        align-items: center;
        text-align: center;
    }

    .footer-top {
        flex-direction: column;
        gap: 3.1rem;
    }
}