:root {
  --primary-color: #1e3a5f;
  --secondary-color: #3e5c76;
  --medium-color: #5a7d96;
  --accent-color: #a5c8e1;
  --background-color: #e8f1f8;
  --text-color: #1c1c1c;
  --off-white: #f8f8f8;
  --font-family: "Libre Baskerville", serif;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: "Libre Baskerville", serif;
  color: var(--text-color);
  background-color: var(--background-color);

}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

#app-container {
  background-color: var(--primary-color);
  width: 90%; 
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  padding: 5rem 8%;
}